* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(0, 0, 0);
}
.title {
  font-size: 40px;
}

.header {
  padding: 2% 1% 1% 1%;
  font-size: 40px;
  background-color: rgb(94, 2, 94);
  display: flex;
  justify-content: space-between;
}

.portfolio {
  margin-left: 8%;
  color: black;
}

.pages {
  margin-right: 8%;
  display: flex;
  justify-content: space-around;
}

a {
  margin-left: 50px;
  margin-right: 50px;
  color: purple;
  text-decoration: none;
}

a:hover {
  color: white;
  transition: 1.2s;
}

.main {
  color : white;
  display: flex;
  justify-content: space-around;
  margin-top: 6%;
}

h1 {
  font-size: 80px;
}

h3 {
  margin: 0;
  font-size: 35px;
}

p {

  font-size: 25px;
}

.content {
  margin-top: 5%;
}

.fullcont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile {
  width: 500px;
  border: 15px solid purple;
  border-radius: 50%;
}

button {
  padding: 3%;
  border: 2px solid purple;
  border-radius: 40% 4% 40% 4% ;

}

.cv {
  font-size: 30px; 
  margin-top: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
}